<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<!-- For Juno Testing Visuals -->
		<!-- <link rel="stylesheet" href="../static/streaming_app/bootstrap-5.3.0-dist/css/bootstrap.min.css"> -->
	
		<link rel="stylesheet" href="../static/streaming_app/styles.css">
		{% load static %}
		<link rel="stylesheet" href={% static 'streaming_app/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}>
	</head>
	<body>
		<!--NavBar-->
		<nav class="navbar navbar-expand navbar-dark bg-secondary">
			<div class="container-fluid">
			  <a class="navbar-brand" href="{% url 'index' %}">GatorVid</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
				<ul class="nav navbar-nav ml-auto w-100 justify-content-end align-bottom">
					<li class="nav-item">
						<a class="nav-link active" href="{% url 'index' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="navbar-brand" href="{% url 'account' %}">
							<img src="../static/streaming_app/images/icons8-male-user-94.png" class="img-fluid" alt="Account" width="40" height="40">
							<!--<a target="_blank" href="https://icons8.com/icon/492ILERveW8G/male-user">Male User</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
						</a>
					</li>
				</ul>
			</div>
			</div>
		</nav>
	
		<!--==============-->

		<div class="container mt-5">
			<form>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">What do you want to ask Bard?</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">Try: "Calculus"</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<p id="BardAnswer1"></p>

			<form>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">What videos do you want to watch?</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">Try: "Calculus"</div>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<p id="BardAnswer2"></p>
		</div>
	</body>
</html>