<!DOCTYPE html>
<html lang="en-us">
    <body>
        <h1>Welcome to {{ course.name }}</h1>
        <p>This is where the videos for the course will be. <a href="{% url 'courses' %}">Go Back</a></p>

        <iframe width = "560" height = "315" src="https://youtube.com/embed/HLCq5M_7DR4" title="YouTube video Player" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrtyped-media; grypscope; picure-in-picture" allowfullscreen></iframe>
            
        <p> {{ course.description }} </p>

        {% from googleapiclient.discovery import build  %}	

        {%    api_key = "AIzaSyDeMH85cci_JvOpr9zCekstIShWSQ3gnWk" %}

        {%  youtube = build('youtube', 'v3', developerKey = api_key)%}

        {%  request  = youtube.channels().list(part='statistics',forUsername="emongg")%}

        {%  response = request.execute()%}

        {%  print(response)%}

        
        
    </body>
</html>
