<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale1.0" />
    
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
    <h2>GatorVid<h2>
            

            <label for="fname">Login:</label>
            <!--<br><input type="number" id="fname" name="fname"><br>-->

            <label for="flogin">Password:</label>
            <!--<br><input type="login" id="flogin" name="flogin"><br>-->
            <button onclick="getPage()">Login</button>
            

</body>

</html>