<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<!-- For Juno Testing Visuals
	<link rel="stylesheet" href="../static/streaming_app/bootstrap-5.3.0-dist/css/bootstrap.min.css"> -->

	<link rel="stylesheet" href="../static/streaming_app/styles.css">
	{% load static %}
	<link rel="stylesheet" href={% static 'streaming_app/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}>
</head>
<body>
    <!--NavBar-->
	<nav class="navbar navbar-expand navbar-dark bg-secondary">
		<div class="container-fluid">
		  <a class="navbar-brand" href="">GatorVid</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
			<ul class="nav navbar-nav ml-auto w-100 justify-content-end align-bottom">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="navbar-brand" href="{% url 'account' %}">
						<img src="../static/streaming_app/images/icons8-male-user-94.png" class="img-fluid" alt="Account" width="40" height="40">
						<!--<a target="_blank" href="https://icons8.com/icon/492ILERveW8G/male-user">Male User</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
					</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>

    <h1>{{ title }}</h1>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>{{ description }}</p>

    <h2>Discussion</h2>
    <ul id="item_list">
        {% for username, comment in comments %}
            <li><strong>{{ username }}: </strong>{{ comment }}</li>
        {% endfor %}
    </ul>

    <!-- To Comment -->
    <form>
        <label for="text_input">Contribute to the lecture discussion:</label>
        <input type="text" id="text_input" name="text_input">
        <input type="button" value="Submit" onclick="addToDiscussion()">
    </form>

    <script>
        function addToDiscussion() {
            var inputValue = document.getElementById("text_input").value;

            if (inputValue.trim() !== "") {
                var newItem = document.createElement("li");

                newItem.textContent = inputValue;

                document.getElementById("item_list").appendChild(newItem);

                document.getElementById("text_input").value = "";
            }
        }
    </script>
</body>
</html>